@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    background-color: #f7f7f7;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    border: 3px solid #48484a;
    border-radius: 5px;
    padding: 10px 15px;
}

h2 {
    color: #48484a;
}

h3 {
    margin-top: 1em;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(121, 121, 121);
}

input {
    font-size: 16px;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
}

input[type=text]:focus {
    border: 1px solid #ec6e4c;
}

input[type=submit] {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

input[type=submit]:hover {
    color: white;
    cursor: pointer;
    background-color: #ec6e4c;
    transition: .3s;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(121, 121, 121);
    text-decoration: none;
}

#success, #failure {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}

#name {
    text-align: center;
    color: #48484a;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: left;
    border: 3px solid #48484a;
    border-radius: 5px;
    padding: 10px 15px;
    padding-left: 100px;
}

.raport {
    display: flex;
    margin-top: 2em;
}

.raport--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

.footer {
    position: absolute;
    bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 400px) {
    body {
        align-items: flex-start;
        padding: 0 0 2em 0;
    }
    .content {
        min-height: 100vh;
        justify-content: space-between;
    }
    .raport {
        flex-direction: column;
        margin: 1em 0;
    }
    .raport--item {
        margin: 1em 0;
    }
    #success, #failure {
        margin: 2em 0 0 0;
    }
    .footer {
        margin: 2em 0;
        position: static;
    }
}